*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 129px auto 38px;
    grid-template-areas: 
    "h h"
    "m c"
    "r r";
}

header{
    grid-area: h;
    background-color: #2B302C; 
    width: 100%;
    padding: 12px;
    height:550px ;
  }

  header > img{
    margin-left: 25px;
    margin-top: o.5px;
  }

main{
  grid-area: c;
  background-color: #D9D9D9;
  display:flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
 
}

section{
    grid-area: m;

}
section > img{
    width: 100%;
    height: 100%;
}

footer{
  grid-area: r;
  background-color: #2B302C; 
  height: 38px;
}



.imagem1{
    grid-area: m;
    height: 50%;
}

form{

    grid-area: c;
    display: flex;
    flex-direction: column;
    width: 70%;
  
  }
  
  form > label{
    margin: 10px 0;
  }
  
  form > input  {
    font-size: 3rem;
    background-color: #9ADB9C;
    color: black;
  }
  
  form > input:focus{
    background-color: #9ADB9C;
  }
  
  form > label{
    font-size: 2rem;
  }
  
  .botao{
    display: flex;
    justify-content: center;
  }
  
  input[type="submit"]{
    margin-top: 20px;
    background-color: #68CC6C;
    padding: 10px 20px;
    border-radius: 10px;
    width: 50%;
    font-size: 3rem;
  }
  
  input[type="submit"]:hover{
    background-color: #68CC6C;
    color: white;
  }
  
  .caixa{
    background-color: rgba(123, 119, 119, 0.7);
    padding: 40px;
    border-radius: 20px;
  }
  


